# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.seq-app-firstoftype.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\datalust\seq-app-firstoftype\.idea\.idea.seq-app-firstoftype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
